# Режим TLS (off - без HTTPS, on - с HTTPS)
TLS_MODE=off

# Путь к папке с SSL-сертификатами (только если TLS_MODE=on)
PATH_SSL_KEY=/etc/letsencrypt/live/your.domain

# Ваш домен или IP (для HTTPS лучше домен)
SITE_HOST=your.domain.com

# Порт, на котором будет висеть сервис
SITE_PORT=1222

# Список серверов 3x-ui (через пробел, обязательно со слешем в конце)
SERVERS=https://server1.com/path/ https://server2.com/path/ https://server3.com/path/

# Статическая часть пути для подписки (можно оставить sub)
SUB=sub